In [ ]:
# Download source csv - https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PS

In [8]:
import pandas as pd
import numpy as np
spreadsheet = pd.read_csv('src/nasa_exoplanets.csv', delimiter = ',', low_memory = False)
spreadsheet.head()

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97
0,11 Com b,11 Com,1,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.003848,2014-05-14,2008-01,2014-05-14,NaN,NaN,NaN,NaN,NaN,NaN
1,11 Com b,11 Com,0,2,1,Radial Velocity,2007,Xinglong Station,Published Confirmed,0,...,-0.003848,2014-07-23,2011-08,2014-07-23,NaN,NaN,NaN,NaN,NaN,NaN
2,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.003903,2018-04-25,2009-10,2014-05-14,NaN,NaN,NaN,NaN,NaN,NaN
3,11 UMi b,11 UMi,0,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.003903,2018-04-25,2011-08,2014-07-23,NaN,NaN,NaN,NaN,NaN,NaN
4,11 UMi b,11 UMi,1,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Published Confirmed,0,...,-0.003903,2018-09-04,2017-03,2018-09-06,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df = pd.DataFrame(spreadsheet)
years = []
for year in df.disc_year:
    if year not in years:
        years.append(int(year))
    years.sort()
print(f'Years of discoveries: {",".join([str(x) for x in years])}')


for year in range(len(years)):
    current_year = str(years[year])
    planets_found = df.query(f"disc_year == '{current_year}'")
    print(f'Total number of exoplanets found in {current_year}: {len(planets_found)}')

Years of discoveries: 1992,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Total number of exoplanets found in 1992: 6
Total number of exoplanets found in 1994: 2
Total number of exoplanets found in 1995: 5
Total number of exoplanets found in 1996: 41
Total number of exoplanets found in 1997: 3
Total number of exoplanets found in 1998: 38
Total number of exoplanets found in 1999: 76
Total number of exoplanets found in 2000: 77
Total number of exoplanets found in 2001: 56
Total number of exoplanets found in 2002: 139
Total number of exoplanets found in 2003: 78
Total number of exoplanets found in 2004: 165
Total number of exoplanets found in 2005: 152
Total number of exoplanets found in 2006: 139
Total number of exoplanets found in 2007: 294
Total number of exoplanets found in 2008: 310
Total number of exoplanets found in 2009: 385
Total number of exoplanets found in 2010: 543
Total number of exoplanets found in 2011: 975
Total number of exoplanets found in 2012: 1015
Total number of exoplanets found in 2013: 947
Total number of exoplanets found in 2014: 8884
Total number of exoplanets found in 2015: 851
Total number of exoplanets found in 2016: 12829
Total number of exoplanets found in 2017: 501
Total number of exoplanets found in 2018: 900
Total number of exoplanets found in 2019: 477
Total number of exoplanets found in 2020: 790
Total number of exoplanets found in 2021: 2593
Total number of exoplanets found in 2022: 694
Total number of exoplanets found in 2023: 146

In [22]:
# df = pd.DataFrame(spreadsheet)
# found_2007 = df.query("disc_year == '2007'")
# print(f'Total Exoplanets found in 2007: {len(found_2007)}')